[2014-08-12 03:06] sergiobenrocha2 opened #2 "Fail to build in ubuntu 14.10 beta"
I had a problem to build in ubuntu 14.10 alfa/beta, take a look:

obj/retro64/build/m68kmake obj/retro64/emu/cpu/m68000 src/emu/cpu/m68000/m68k_in.c
In src/emu/cpu/m68000/m68k_in.c, near or on line 2701:
	Unknown M68KMAKE directive [
INT32  ea = M68KMAKE_GET_EA_AY_8;]

	Musashi v4.60 68000, 68008, 68010, 68EC020, 68020, 68EC030, 68030, 68EC040, 68040 emulator
	Copyright Karl Stenerud

src/emu/cpu/

[2014-12-29 02:40] sergiobenrocha2 opened #4 "Crashing if you load mame2010 before"
Load first some rom with mame2010, then load other core (tested with mame git, genplus, vbam), wait some time and it'll crash.

Edit: I forgot to say, Ubuntu 14.04, amd64.

Edit2: you don't need wait any time, just load the second core with content, press any keyboard button and it'll crash. There's no issue with joysticks.

Mame git trace:

[code]

Compiled with -O0 -g

[2015-02-06 03:49] pdrome opened #6 "MAME2010 fails to build"
MAME2010 fails to build using buildbot.

[2015-02-06 05:12] pdrome commented on #6
Looking into this, it might be related to src/osd/retro/libco/armeabi_asm.S which was deleted last June still being used in the OSD library.  See here:

src/osd/retro/retro.mak

[2015-02-06 08:50] r-type commented on #6
Please povied an pastbin of the error.

[2015-02-06 13:05] pdrome commented on #6
I will do so this evening when I get home from work.

[2015-02-07 01:38] pdrome commented on #6
Sorry to take so long getting this up.  I think I've resolved the issue and I sent a pull request.  Here is the first pastebin:

http://pastebin.com/L6YugC1c

It appears as though the memory.h file in /src/emu/ and memory.h file in the toolchain were butting heads.  I renamed the file and it's link in /src/emu and it resolved this issue.  Here is the pastebin for the issue that followed:

http://p

[2015-02-07 01:40] pdrome commented on #6
Here is the pull request that should fix the issue:

https://github.com/libretro/mame2010-libretro/pull/7

[2015-10-16 17:52] capitaineflam25 opened #10 "brief red screen at startup"
On raspberry Pi, the screen is briefly red at startup.

Of course this is not a big issue ;)

[2015-11-03 14:48] #6 closed

[2015-11-04 23:01] sergiobenrocha2 commented on #2
Fixed sometime ago

[2015-11-04 23:01] #2 closed

[2015-11-06 23:11] daweze opened #11 "high score patch"
is it possible to add the high score patch?  i have tried and get compile stop.

make: *** No rule to make target 'obj/retro/emu/hiscore.o', needed by 'obj/retro/libemu.a'.  Stop.

[2015-11-08 01:13] sergiobenrocha2 commented on #4
updated with a proper backtrace to gen plus

[2015-11-25 18:26] sergiobenrocha2 opened #13 "Restart Content is not working"
Restart from quick menu is not working.

[2015-11-25 18:36] sergiobenrocha2 opened #14 "mame creates folders cfg and nvram in the home dir"
It's quite annoying, this mame core creates cfg and nvram folders in your ~/ or in the folder you launch RA in the terminal.

[2016-03-21 17:01] rawlangs opened #15 "Mame loads startrek.zip in wrong orientation and will not recognize rom-specific cfg files."
Mame automatically rotates startrek.zip 90 degrees clockwise.  I can use rgui to manually rotate, but I can't make this setting "stick".  I have created startrek.zip.cfg and placed it in the ROM directory.  This file rotates startrek.zip when loaded in lr-mame2003, but lr-mame2010 does not recognize this file.

I would like startrek.zip to load in the correct orientation, and I would like lr-mame2

[2016-04-13 14:21] Expello opened #16 "nagscreenpatch_enable"
Hello,
the core option (nagscreenpatch_enable) does not work, I have entered in the mame.ini and in retroarch config, but the "NAG SCREENS" are still displayed.

I use this line:
`mame_current_nagscreenpatch_enable = "enabled"`

There is another way?
Or how can I change the UI.C in so far as that disappear the "NAG SCREENS"?

Thanks a lot

R-PI 3 / RetroPie 3.6

[2016-04-13 14:54] dankcushions commented on #16
nagscreenpatch_enable doesn't appear to be actually used in the code, so it looks like this option doesn't really do anything at the moment. a code change is required.

[2016-07-15 09:09] Enverex commented on #16
I can probably code this back in as I've done with the current and 2014 core if there's still interest?

[2016-07-16 14:07] markwkidd commented on #16
I'm interested.

[2016-07-17 18:56] Enverex commented on #16
Ok, I've coded this in but can't test it as I don't have a suitable ROMset. If you'd like to try it, please compile and use this branch https://github.com/Enverex/mame2010-libretro/tree/patch-1 and let me know how you get on.

[2016-07-20 00:26] Enverex commented on #16
Merged in here - https://github.com/libretro/mame2010-libretro/pull/17

Can you test and report back please.

[2016-07-21 17:08] markwkidd commented on #16
Is there any chance you could compile a core I can place into a generic x64 Lakka PC installation? I have access to a 0.139 ROM set but I have not compiled any software in more than ten years I'm afraid.

I could probably also put together a windows retroarch environment to test this with if that would be easier for you to build a core for.

[2016-07-21 17:14] markwkidd commented on #16
Actually, why not check it with one of the MAME ROMs that has been authorized for distribution? You don't need a full ROM set, just one.

This ROM file should give the nag screen in regular MAME 0.139 but not with your patch: http://mamedev.org/roms/robotbwl/

[2016-07-21 17:36] Enverex commented on #16
It segfaults for me unfortunately. I have a feeling that whilst it now compiles with GCC6.1, it still doesn't produce something usable. I don't have an earlier version of GCC available to compile it with so I can't really check if that's truly the cause.

[2016-07-21 17:37] Enverex commented on #16
Scratch that, just finished compiling it with GCC 5.4. Will test now.

[2016-07-21 17:55] Enverex commented on #16
Yep, works perfectly (you need to enable these options under Quick Menu > Options first.

Looks like it still segfaults under GCC6, but at least it builds now so it's slightly less broken in that regard.

[2016-07-22 23:42] markwkidd commented on #16
Thank you! I'll be experimenting with this core once your patch makes it to the buildbot. If there's anything I can do as a technical writer, RetroArch MAME playlist scripter, or as a person somewhat familiar with the MAME ROM set universe, please let me know.

[2016-08-15 20:11] dankcushions opened #20 "Aspect ratios can be incorrect"
This is the same issue as https://github.com/libretro/mame2003-libretro/issues/51

The fix should be almost identical, but annoyingly the order this core executes is slightly different: here's where the fix should be: https://github.com/libretro/mame2010-libretro/blob/master/src/osd/retro/retromapper.c#L144

but the machine being run isn't initialised till after, here: https://github.com/libretro/

[2016-09-18 19:56] jyan21 opened #21 "Player 2 X-Arcade buttons 5 and 6"
Not sure if it only happens to the X-Arcade controller, but I've seen many posts regarding the player 2 buttons 5 and 6 not working.  Both buttons can be configured in RetroArch but does not register in game like all the other buttons.

[2016-11-19 12:55] Roet-Ivar opened #23 "Makefile.libretro missing and other problems"
Hi sir.
I'm trying to build your repo but I don't get far (I'm a beginner in linux environments).

Firstly, running the make command:
make -f Makefile.libretro "VRENDER=soft" "NATIVE=1" buildtools
Makefile.libretro: this file doesn't seem to exist, or am I missing something basic here?

Same goes for:
make -f Makefile.libretro "VRENDER=soft" "platform=android" emulator -j4

Thanks for any help!

E

[2016-11-19 14:44] twinaphex commented on #23
you need to use the regular Makefile instead.

[2016-11-19 17:35] Roet-Ivar commented on #23
So I tried: make -f Makefile "VRENDER=soft" "platform=android" emulator -j4

[code]

[2016-11-19 17:54] Roet-Ivar commented on #23
Is there a binary that I could download instead? I'm too stupid for this. Thanks!

[2016-11-21 08:59] Roet-Ivar commented on #23
OK. So I decided to give this another shot to learn something, even though I found a binary floating around.
Is there anyone who could try build this project and tell me what's going on with the toolchain setup and the errors from my logout above? Would highly appreciate this!

[2016-11-21 14:30] r-type commented on #23
you have to first setup an android standalone toolchain.

you can find info here https://developer.android.com/ndk/guides/standalone_toolchain.html

old ndk
[code]
newer ndk
[code]
when you are done with your standalone tc ,
add it to your path
[code]
and  just type
[code]
btw it failed to build also for me until
I tweak makefile.common to add -I$(SRC_DIR)/mame , in INCFLAGS declaration
[code]
and

[2016-11-21 14:36] Roet-Ivar commented on #23
@r-type Thank you so much sir! Can't wait to test this out when I get home. By the way, is there any gain of compiling this for ARM64 (using Nvidia Shield TV)? obliviously I don't know exactly what I'm talking about =)

[2016-11-21 14:44] r-type commented on #23
never tried a 64 build ,
but i think you have to make an arm64 standalone tc
make_standalone_toolchain.py  --arch arm64
and put PTR64=1 instead of PTR64=0 in android platform section in the makefile.

[2016-11-21 14:50] Roet-Ivar commented on #23
@r-type I'll report back with results! Hopefully I can finally get this to build so I can turn off nag-screen/game info/warnings and rotation of some games.

[2016-11-21 21:56] Roet-Ivar commented on #23
@r-type I still fail when trying to compile :(
[code]
I feel like your suggestions are related to the issue with including paths, just can't figure it out.

[2016-11-22 15:11] r-type commented on #23
nice it works,
yes it's an old port then maybe  mess in the ccomflags .

[2016-11-23 12:20] Roet-Ivar commented on #23
@r-type The 64bit build did not work, not so surprising since I have no idea what the impact is when removing those flags =)

An off topic question: Do you know why vertical games (like 1941 - 1943 etc) rotates to the side? (I guess these values are usally read from the gamelist.xml)
Could "rotate = 1" in mame.ini be the cause for that?
Since I'm using a TV I don't want games to rotate at all. Tha

[2016-11-23 15:08] r-type commented on #23
don't know , maybe some other user having good knowledge with mame.ini like @Tatsuya79 can answer to this.

[2016-11-23 15:50] Tatsuya79 commented on #23
I'm not sure what is the behaviour in mame2010 as I'm not using this core.
But you should be able to create a vertical.ini in system\mame2010\ini\ with "ror 1" to rotate vertical games.

[2016-11-23 15:56] twinaphex commented on #23
You don't want MAME to apply rotation and scaling itself. We should get rid of all that junk code in MAME 2010.

It's the frontend (RetroArch in this case) that should do scaling and rotation, not this MAME core.  There's an environment callback which you can use which can inform the frontend what rotation setting the frontend should use for this/that game. That is what we should be looking into.

[2016-12-09 08:15] twinaphex commented on #16
Nagscreen should now be permanently disabled.

[2016-12-09 08:15] #16 closed

[2016-12-09 08:16] twinaphex commented on #13
Should be fixed by now.

[2016-12-09 08:16] #13 closed

[2016-12-09 08:17] twinaphex commented on #4
I think this is fixed now because we removed libco and the shutdown env callback. Let me know if it still happens though.

[2016-12-09 08:17] #4 closed

[2017-01-05 03:52] orbea opened #25 "Segfault when opening roms from the command line without a full path"
OS: `Slackware64-current`
`RetroArch-2017.01.04_7ec6dc0bd_master-x86_64-1_git`
`mame2010-libretro-2016.12.28_81c75bb_master-x86_64-1_git`

mame2010-libretro will segfault if opening a rom from the command line without a full path.

Works:
* `retroarch -L /usr/lib64/libretro/mame2010_libretro.so ./8ball.zip`
* `retroarch -L /usr/lib64/libretro/mame2010_libretro.so roms/8ball.zip`
* Starting the gam

[2017-01-23 22:02] #25 closed

[2017-01-25 02:46] orbea opened #28 "Segfaults if started from command line without content"
## Description

mame2010 will segfault if started from the command line while failing to specify any content.

This may be related to this RetroArch issue which should now be fixed (As seen with other cores) except mame2010 is still broken.
https://github.com/libretro/RetroArch/issues/4493

This also occurs in mame2014, but now in mame2000, mame2003 or mame git.
https://github.com/libretro/mame201

[2017-01-25 08:12] Alcaro commented on #28
Looks like retro_deinit is trying to do some stuff that belongs in retro_unload_game. That is a core bug.

https://github.com/libretro/mame2014-libretro/issues/43 looks like the same issue.

[2017-01-25 09:15] r-type commented on #28
yes core fault I will look at

[2017-01-25 14:35] r-type commented on #28
BTW for mame current core ,it segfault a retro_load_game at extract_basename.

[2017-01-25 15:43] orbea commented on #28
Did you update your RA to the latest nightly? Lot of the cores were segfaulting before Alcaro's fix.

[2017-01-25 15:55] r-type commented on #28
ok Idid now , and effectivly failed at retro_machineexit() , iI ll fix this.

[2017-01-25 16:07] r-type commented on #28
for current mame (0.182)
https://github.com/libretro/mame/commit/1bab14161bc79cb1f778a949b646cef001e588e7

[2017-01-25 17:03] orbea commented on #28
In retrospect I was using an old mame before the repo changed...thanks for it! :)

[2017-01-25 18:15] #28 closed

[2017-01-25 18:36] orbea commented on #28
Awesome, thanks!

[2017-01-25 18:45] r-type commented on #28
BTW our way to deal loading game is not ideal as we force rompath ,
then it preempt rp from mame ini and also when loading with no game , upstream open mame with empty driver .

That said we did this mainly to handle load from RA menu. and it's better than nothing.
personally i always load rom/system using cmdline or cmd file (for current mame).

[2017-04-25 09:55] sunshineoflife commented on #23
@r-type
Hi sir.
I'm trying to build this repo by NDK build system , not using a standalone toolchain.
My environments is ndk-r10e in windows 7.
When i use the command `ndk-build`, it seems not work. No source file is compiled.
Is there anyone who could try build this project by NDK tools.

[2017-05-16 14:48] estefan3112 opened #31 "lr-mame2010 misses Sample Support"
From tests with cosmica, cosmicg and xevious it seems that samples in lr-mame2010 are broken. Like in lr-mame2013 and lr-mame2016, I created a directory called mame2010/samples and placed samples there. While the other two Cores use the samples, lr-mame2010 does not. If further information is needed, I am happy to provide further information.

[2017-06-07 11:33] Eddiiie opened #32 "Issues building on Pi"
Hi,
Following the readme.txt, it says
---------------
 build for pc linux/win:

     make -f Makefile.libretro "VRENDER=soft" -j4 buildtools
     make -f Makefile.libretro "VRENDER=soft" -j4

---------------

But there is no Makefile.libretro file available.

Using the Makefile that is present,  (Makefile)  after hours of grinding, it comes to a halt with the following message:
{standard input}: A

[2017-06-07 11:36] Eddiiie commented on #32
Makefile.common errored immediately

pi@raspberrypi:~/mame0139/mame2010-libretro-master $ make -f Makefile.common
make: *** No rule to make target '/mame/machine/nmk112.o', needed by '/mame/shared.a'.  Stop.

[2017-06-07 12:58] r-type commented on #32
Just use make  VRENDER=soft , (there is a Makefile) , if you are unsure you can lookat the recipes on the libretro-super .

now  for you build problem , it seem your gcc crash a compiling tms57002.  too much resource for it.
 you can try to build this file on a pc host using a crosscompiler
or trying to build it a -O0 (just recopy the line above the crash g++ ... and change -O2 or -O3 with -00 for

[2017-06-20 02:33] Eddiiie commented on #32
Ok, I went and did a make VRENDER=soft   .......   hours later, new error -

src/osd/retro/retrowork.c: In function ‘int osd_work_queue_wait(osd_work_queue*, osd_ticks_t)’:
src/osd/retro/retrowork.c:264:26: error: ‘osd_yield_processor’ was not declared in this scope
      osd_yield_processor();
                          ^
src/osd/retro/retrowork.c: In function ‘int osd_work_item_wait(osd_work_item

[2017-06-20 03:18] bparker06 commented on #32
That is the same error we get trying to build for armhf on the buildbot... I have no idea why but I haven't really looked into it more. I should also note that adding PTR64=0 to the make line is probably also necessary for 32-bit targets.

[2017-06-20 05:43] r-type commented on #32
https://github.com/libretro/mame2010-libretro/blob/master/src/osd/retro/osinline.h
#if defined(ARM_ENABLED) this should fix the above error.

You meed at first this for arm based device.
Also maybe lookat all the ifdef ANDROID if other error .
I think l about the delegate.

[2017-06-20 19:34] Eddiiie commented on #32
osinline.h is different..

GIT says:
[code]
Mine says:
[code]

I will make it -
[code]

[2017-06-20 19:35] Eddiiie commented on #32
nope.

[code]

[2017-06-20 19:37] Eddiiie commented on #32
Grabbed the version from GIT, made old file osinline.h.old
building.

[2017-06-20 20:20] Eddiiie commented on #32
My osinline.h file has his already.

...
#if defined(ARM_ENABLED)
...

[2017-06-20 21:07] bparker06 commented on #32
I hardcoded ARM_ENABLED=1 and also fixed a linker issue when building for arm platforms, I still have one more linker issue but hopefully it will work after that.

[2017-06-21 19:13] bparker06 commented on #32
It should start building for armhf successfully now, let me know if it works.

[2017-06-23 10:22] Eddiiie commented on #32
It builds!! Thanks!

[2017-06-23 16:15] #32 closed

[2017-06-23 16:17] bparker06 commented on #23
@sunshineoflife Mame2010 for Android is now available through the online updater in RetroArch.

[2017-07-01 05:10] markwkidd opened #34 "retroarch crashes loading mame2010 content in windows 10 x64"
I'm working with a fresh install of the latest nightly RetroArch in Windows 10 x64. I'm working with the MAME 2010 core downloaded from the online updater.

When I try to launch content, the entire RetroArch application crashes. MAME 2003 works as expected with the same installation.

The ROMset file in question, term2, runs as expected in standalone MAME 0.139.

Here is the log output up until th

[2017-07-08 22:56] markwkidd opened #35 "patches to fix bosconian and xevious"
[User **poi** from the RetroPie forums published a patch today](https://retropie.org.uk/forum/topic/11457/lr-mame2010-bosconian-xevious-patch) which they say will fix bosconian and xevious in mame2010-libretro. As I described in https://github.com/libretro/mame2010-libretro/issues/34 I can't run mame2010 on my system at the moment so I'm not going to submit a PR for it yet.

For reference, here is

[2017-07-09 07:02] markwkidd commented on #35
PR: https://github.com/libretro/mame2010-libretro/pull/36

[2017-07-09 08:38] #35 closed

[2017-07-25 02:29] keithallenjackson commented on #34
I have the same problem.

[2017-07-30 17:35] markwkidd opened #37 "Add support for more than two players"
Standalone MAME 0.139 supports more than two users. The other libretro MAME cores also support more than two users.

This request is to add suport for more than two players in MAME 2010.

[2017-08-12 23:36] dominater01 commented on #34
im having the same issue im using retroarch 1.6.3 installer version and retroarch just crashes

[2017-09-14 17:43] jebediah2 opened #38 "Implementing cheat support like in mame2003"
Since there is a whole generation of newer cheats using XML format as opposed to the older cheat.dat files, it would be worth allowing them into libretro like it was made with mame2003. I have no code knowledge so basically giving a heads up on implementing that functionality into mame2010. @dankcushions did the job for mame2003 which one can see on the relevant commit pages:

https://github.com/l

[2017-09-21 01:58] Quickgold74 commented on #34
Same problem here :(

[2017-09-22 19:36] r-type commented on #34
does this one work for you ?
https://ufile.io/jwk7n

[2017-09-22 20:36] Quickgold74 commented on #34
Thanks @r-type now it works, was the core compiled by you? or is it an older version? I ask because, I belive  that in the download page there should be a section with stable cores (like the RA stable)  and not the nightly versions only.

[2017-09-22 20:40] r-type commented on #34
Crossbuild with the last commit.
The buildbot should have it now.

[2017-09-22 22:01] markwkidd commented on #34
@r-type Looks good here in Windows 10 x64. Thank you!

[2017-09-22 22:01] #34 closed

[2017-09-24 11:52] UDb23 opened #39 "Core mapping missing"
Input mapping option is missing from the Quick menu and core input mapping is not available.

[2017-10-04 02:59] markwkidd commented on #10
@capitaineflam25 can you confirm whether this is still an issue?

[2017-10-04 03:01] markwkidd commented on #23
@Roet-Ivar do you consider this issue resolved? If so, could you please close it?

[2017-10-04 03:02] markwkidd commented on #14
@sergiobenrocha2 is this still the case with mame2010?

[2017-10-04 08:13] Roet-Ivar commented on #23
Since the mame 2010 is now included in retroarch I find this issue resolved.

[2017-10-04 08:13] #23 closed

[2017-10-05 00:42] sergiobenrocha2 commented on #14
yup

[2017-10-26 22:07] hooperre opened #40 "line 1013: 1652 Segmentation fault - RPi/RetroPie"
Issue explained in [this thread](https://retropie.org.uk/forum/topic/13534/lr-mame2010-update-issue-update-startup-script-fails/22) over at the RetroPie forums.  lr-MAME2010 has always been hit or miss building for me, and typically I would only be able to build it from source after a couple tries.  I don't know that binary has ever worked.

Here is the runcommand.log when I tried to run Asteroids

[2017-10-26 22:21] r-type commented on #40
I don"t know about retropie.
please test with command and verbose and report the result.
[code]

[2017-10-26 23:46] hooperre commented on #40
[code]

Done on PuTTy from a windows cpu.

[2017-10-27 00:46] hooperre commented on #40
[code]
This appears to be the line causing the error.

[2017-11-15 19:47] estefan3112 commented on #31
FYI: cosmica has been back ported to lr-mame2013, and samples just work; so it must be a problem with the core here.

[2017-11-21 21:38] grgohr opened #41 "stvbios roms hang retroarch with mame armhf core"
All roms using stvbios (http://www.progettoemma.net/index.php?&gioco=stvbios) hang the armhf build of retroarch with mame2010 core = leaves retroarch inactive with a white frame on load.
no error message in the retroarch console, romsets load properly. the core works great with other roms non stvbios-related.

those roms load fine with mame2003 though (same issue with mame_libretro.so, mame2016_li

[2017-11-24 17:52] raelgc commented on #14
I've found the reason for this issue: `mame.ini` is located at `/opt/retropie/libretrocores/lr-mame2010/`, but EmulationStation is launching from home folder.

So, I made the following:

1. Moved `mame.ini` to my home folder.

2. Changed, in `mame.ini`, values from `cfg` and `nvram` paths to match `mame2003`. I.e., change from this:

[code]
to this:
[code]

[2017-11-24 18:22] markwkidd commented on #14
It does seem like this should work by default like mame2003, which handles this more gracefully and in a cross-platform manner.

[2017-11-24 18:54] raelgc commented on #14
mame2003 takes, by default, the current rom folder to create the `mame2003` folder (with `cfg`, `nvram` and all related subfolders).

So, if you're using mame under `roms/arcade`, you'll get `roms/arcade/mame2003/`, if you're using mame under `roms/libretro-mame`, you'll get `roms/libretro-mame/mame2003/`.

[2017-11-28 08:52] Roet-Ivar opened #42 "Does this build for PS3?"
I've been struggling to build this for PS3. First I 'd love to know this has been built for PS3 before?
If so, what commands should I use for the two pass process? (the readme seem a bit dated, referering to '-f Makefile.libretro' etc).

I'm using the PSL1GHT toolchain.

Thank you!

[2017-12-04 09:10] rockaddicted opened #47 "d"

[2017-12-04 09:10] #47 closed

[2017-12-10 16:38] LaryLoose commented on #40
Commenting out or removing the #include line in the used .cfg file solved the problem for me. Seems like there's something messed up with #include statement. It doesn't madder if the linked config file contains values or not and is present or not. As long as there is an #include in the used config, mame crashes with a segmentation fault.

[2017-12-25 10:48] Quickgold74 opened #68 "Mame2010 core won't load in Android 4.1.2"
In Android 4.1.2 when I download the MAME 2010 core, it is in the core list but  RA won’t load the cores Thanks!

[2017-12-31 01:56] FelipeVeiga commented on #21
same problem here.

[2018-01-10 13:32] tecnocat commented on #38
There is no need to implement this, already works:

1. Download cheats from http://cheat.retrogames.com/mame_downloads.htm
2. Install the cheat file (cheat.zip) in `/opt/retropie/libretrocores/lr-mame2010/cheat` folder
2. Copy (or link) `/opt/retropie/libretrocores/lr-mame2010/mame.ini` to your home forlder `~/mame.ini`
3. Update `cheatpath` to `/opt/retropie/libretrocores/lr-mame2010/cheat` in `~

[2018-01-10 13:35] tecnocat commented on #38
The problem that cheats never load is related to this other issue:

https://github.com/libretro/mame2010-libretro/issues/14

[2018-02-10 12:42] movisman commented on #14
@raelgc

Hi there,

Thanks for posting this workaround. So just to confirm, until the core is changed so the paths are more graceful, with your workaround, ultimately you end up with a mame.ini in your home folder, and then the other cfg and nvram paths in the more conventional place? And MAME no longer ignores the .ini for games like Operation Thunderbolt?

Thanks!

[2018-02-10 16:08] movisman commented on #14
@raelgc

Perfect! Thanks a lot for the clarification. I will do this with my MAME 2010 instance to tidy things up a tad, until such a time comes where the paths are properly tidied up.

Thanks again!

[2018-02-16 16:50] markwkidd opened #81 "mame.ini required for some games"
As discussed in this mame2003 issue, one priority for libretro MAME cores is to not require the use of mame.ini configuration files in lieu of libretro core options: https://github.com/RetroPie/RetroPie-Setup/issues/2268#issue-290708306

However there may be games that do not function correctly in mame2010 without mame.ini, per: https://github.com/libretro/mame2003-libretro/issues/27#issuecomment-

[2018-02-16 18:54] markwkidd commented on #31
I'm pretty confident that there are multiple issues with paths in mame2010, and that this is the same overall issue as https://github.com/libretro/mame2010-libretro/issues/14

I'm trying to make a fix if it's within my abilities.

[2018-02-17 04:00] markwkidd commented on #14
@sergiobenrocha2 or others in this discussion, I've submitted a PR that I hope addresses this issue and others caused by the way mame2010 handles paths: https://github.com/libretro/mame2010-libretro/pull/83

I wound up touching several different source files. It all seems to work on my system but if you have the ability to test it out and confirm I'd appreciate it.

[2018-02-17 09:35] markwkidd commented on #11
Here is a link to the patch for enabling hiscore.dat: https://web.archive.org/web/20170704185957/http://mamestuff.lowtrucks.net/MKChamp/hi_139.txt

Note that this patch also adds some other functionality -- only part of it should be needed.

[2018-02-19 22:10] markwkidd commented on #81
@msheehan79 if you have a moment, could you post about your experiences with mame2010 ROM sets that require an .ini file in order to work correctly?

[2018-02-21 19:01] markwkidd commented on #68
@Quickgold74 Could you try this again and see if it still an issue?

If so, could you generate and post logs? https://buildbot.libretro.com/.docs/guides/generating-retroarch-logs/

[2018-02-21 19:06] markwkidd commented on #38
@jebediah2 this should be working as of today if you can download or compile a fresh copy of mame2010. Check the updated README for the right path for the cheats.dat file.

[2018-02-21 19:08] markwkidd commented on #31
@estefan3112 if you are still working with this core, you should be able to download or compile an updated version of mame2010 today which may improve this situation -- check the README for the location where you need to store your MAME 2010 sample files.

[2018-02-21 19:09] markwkidd commented on #15
Hi @rawlangs if you compile mame2010 from source now I have updated the paths where mame2010 loads its various assets, including the `cfg` path. I believe his may resolve your issue with mame2010 not recognizing game-specific `cfg` files.

[2018-02-21 19:10] markwkidd commented on #14
@sergiobenrocha2 the PRs have been merged and I am hoping that this issue is now fully resolved. Please let me know if you notice other problems.

[2018-02-21 19:42] estefan3112 commented on #31
Really great to read, many thanks! This should also work on plain Retroarch, not only Retropie, correct? Because compiling on my Mac would be faster :-). Cheers, will definitely have a try and comment back here!

[2018-02-21 19:50] markwkidd commented on #31
Yes if this is working it should work cross platform

On Wed, Feb 21, 2018 at 2:42 PM, estefan3112 <notifications@github.com>
wrote:

--
Mark W. Kidd
facebook.com/markwkidd
(606)536-0115 <http://appalshop.org>

[2018-02-21 22:31] #42 closed

[2018-02-22 01:34] msheehan79 commented on #81
@markwkidd The one game I can recall offhand is Operation Thunderbolt.

With this game if mame.ini is not found the mouse input is not recognized. When mame.ini is placed in it's correct directory mouse input works as expected.

[2018-02-22 19:06] estefan3112 opened #93 "Building From Source fails (Readme.txt not found)"
While I was successful in building lr-MAME2010 with sample support, the actual installation of the emulator fails on Linux:
= = = = = = = = = = = = = = = = = = = = =
Installing 'lr-mame2010' : Arcade emu - MAME 0.139 port for libretro
= = = = = = = = = = = = = = = = = = = = =

'/home/pi/RetroPie-Setup/tmp/build/lr-mame2010/mame2010_libretro.so' -> '/opt/retropie/libretrocores/lr-mame2010/mame2010_

[2018-02-22 19:08] estefan3112 commented on #31
Sample support successfully tested on Windows, Mac and Linux (Ubuntu and Retropie). However, installation in Retropie fails with issue #93 . From what I see from recent commits, Highscore support did not eventually land, eagerly waiting for that one as well :-).

[2018-02-22 19:08] #31 closed

[2018-02-22 19:13] estefan3112 commented on #93
[rps_2018-02-22_183943.log.gz](https://github.com/libretro/mame2010-libretro/files/1749216/rps_2018-02-22_183943.log.gz)

[2018-02-22 19:19] markwkidd commented on #93
Thanks for the report @estefan3112 ! This one is a downstream is a retropie-setup issue. I've filed a PR there if you don't mind closing the issue here. RetroPie-Setup PR: https://github.com/RetroPie/RetroPie-Setup/pull/2308

[2018-02-22 19:19] markwkidd commented on #31
Thanks! The README.txt issue is downstream in RetroPie. I filed a PR: https://github.com/RetroPie/RetroPie-Setup/pull/2308

[2018-02-22 19:21] #93 closed

[2018-02-24 15:33] markwkidd commented on #81
PR https://github.com/libretro/mame2010-libretro/pull/94 has been merged,, which I hope will at least standardize how mame.ini is handled for now and help avoid crashes for people. If there is no `mame.ini` in the `ini` folder, a streamlined version will be generated in that location.

I have changed the title of this Issue to be more precise about the situation: `mame.ini` should be handled by li

[2018-02-24 15:42] markwkidd opened #95 "call_notifiers(MACHINE_NOTIFY_EXIT) is never called / no graceful exit"
I'm working to add hiscore functionality to this core.

In the process of hooking up the hiscore save system, I have discovered that [call_notifiers(MACHINE_NOTIFY_EXIT) in /src/emu/machine.c](https://github.com/libretro/mame2010-libretro/blob/master/src/emu/machine.c#L413) is never being called.

This seems to be a bug. There are a number of important-looking deallocation and graceful-exit functi

[2018-02-24 15:44] markwkidd commented on #11
I am pretty confident this will work with only a little adaptation.

My local patched version now can load high score memory maps that have already been saved to disk, although it's currently not saving new scores due to a pre-existing bug that needs to be addressed: https://github.com/libretro/mame2010-libretro/issues/95

[2018-02-24 16:06] markwkidd commented on #21
This is because MAME 0.139 doesn't come with default keyboard mappings for those P2 buttons. It should be possible to properly implement defaults for those buttons in mame2010, however. I didn't immediately see where to make this change but I'll try to take a longer look in the future.

[2018-02-24 16:07] markwkidd commented on #21
You should be able to work around this in the meantime by use of the MAME Tab Menu

[2018-02-27 05:18] msheehan79 commented on #81
@markwkidd I haven't had a ton of time to spend on the pi lately, but when I do have some time to recompile mame2010 from source I can certainly give this a shot.

[2018-02-27 05:24] markwkidd commented on #81
I understand very well. Glad for any feedback when you do get back to it.

[2018-02-27 18:55] r-type commented on #95
the call is here in void running_machine::retro_loop()
https://github.com/libretro/mame2010-libretro/blob/master/src/emu/machine.c#L468

[2018-03-03 23:41] markwkidd commented on #95
@r-type that part of retro_loop() never seems to be executed. Hmm.

[2018-03-03 23:50] r-type commented on #95
so try to add
      call_notifiers(MACHINE_NOTIFY_EXIT);
here
https://github.com/libretro/mame2010-libretro/blob/master/src/emu/machine.c#L430

it is call at  retro_deinit(void)

https://github.com/libretro/mame2010-libretro/blob/67ec340d5fe2cf7ce9a1066520465a157a465798/src/osd/retro/retromain.c#L768

[2018-03-03 23:53] r-type commented on #95
it is what i have done for 2014 and later
https://github.com/libretro/mame2014-libretro/blob/master/src/emu/machine.c#L410

[2018-03-04 00:33] markwkidd commented on #95
I moved the `call_notifiers` call to `retro_machineexit()`, which unfortunately crashes mame2010 and retroarch now when close content is selected from the RA Quick Menu

https://github.com/markwkidd/mame2010-libretro/blob/notify-exit-fix/src/emu/machine.c#L425

:hammer: :hammer:

[2018-03-04 00:34] markwkidd commented on #40
@hooperre and @LaryLoose could you recompile mame2010 from source and try again? I hope that recent updates will resolve this issue for you.

[2018-03-04 00:35] r-type commented on #95
did you put it in line 431 after config_save_settings(this); ???

[2018-03-04 05:30] markwkidd commented on #95
You are right, I did not have those calls in the right sequence.  Once I put the new line after config_save_settings(this); the exit notification system seems to be working fine.

Hopefully this is all I still need in order to implement the hiscore patch. Thank you!

[2018-03-05 15:58] markwkidd commented on #21
I've found the place to fix this: https://github.com/libretro/mame2010-libretro/blob/master/src/emu/inpttype.h#L139-L140

I will need to make sure there are some unassigned keyboard keys available before I put in default mappings for those two, however

[2018-03-05 16:45] markwkidd commented on #39
@UDb23 could you clarify what you mean? I'm attaching a screenshot of what I see in the Quick Menu. Maybe this has already been fixed?

![screenshot 2018-03-05 11 43 58](https://user-images.githubusercontent.com/19554678/36987574-a9b30114-206a-11e8-9ca9-815745e8fac4.png)

[2018-03-05 19:33] UDb23 commented on #39
Thanks for checking this.
I mean[this](https://github.com/retropie/retropie-setup/wiki/RetroArch-Configuration#core-input-remapping).  I found it's (or was) missing on Retropie on the Pi.
Your screenshot is from the windows version; not sure this also means it's now available on the Pi (retropie/raspbian) version too. Unfortunately currently I cannot access my Pi to check if meanwhile it has been

[2018-03-05 20:21] markwkidd commented on #39
Any options that show up in the XMB interface should also show up in the RGUI interface that RetroPie refers to in those docs. I'm having no trouble saving a core remap right now either.

Note: inputs for players 3-5 aren't working right yet. hopefully soon.

[2018-03-06 00:46] markwkidd commented on #95
Closed via https://github.com/libretro/mame2010-libretro/pull/99

[2018-03-06 00:46] #95 closed

[2018-03-07 23:42] markwkidd opened #101 "segfault on first cpu operations in contra.zip pacland.zip and many others"
First reported by maxbeanz: https://retropie.org.uk/forum/post/135867

Below I will document my steps to narrow this regression to the process of converting mame2010 to compile as C instead of C++.

## Step 1
`git clone http://github.com/libretro/mame2010-libretro.git`
`cd mame2010-libretro`
`git checkout cd5beb3`

Find the function `retro_load_game` in `retromain.c` (near line 1,324) and replace

[2018-03-10 20:56] #21 closed

[2018-03-10 20:56] #37 closed

[2018-03-11 15:08] #15 closed

[2018-03-11 15:08] #101 closed

[2018-03-11 15:09] #14 closed

[2018-03-11 15:09] #40 closed

[2018-03-14 21:13] estefan3112 commented on #31
Now that we have a running Mac core back again, also happy to report that both sample and hiscore support has landed on the Mac as well!

Now eagerly waiting for a MAME (current) Mac core, which is outdated since 2016...

[2018-03-14 21:16] markwkidd commented on #31
Thanks for the report. If you're comfortable closing this issue please do so. If there is not already an issue filed in the current MAME core for OS X building I suggest doing so.

My area of experience is with the older MAME versions and that is also true of the other folks who monitor this repository, so I'm not in a position to offer help on that issue.

[2018-03-14 22:04] estefan3112 commented on #31
Filed an issue report long time ago, both in the lr-mame and the libretro-super repository. It is the last mame core that does not build on Macs, all others do. Sadly no reaction so far. On some games, such as Gyruss, mame current is a better choice. Thanks for all this hard work!

[2018-03-23 22:16] cecilmax opened #108 "Error compiling under windows for wii"
static inline" -DMSB_FIRST -DPTR64 -DNDEBUG  -DFLAC__NO_DLL -DNATIVE_DRC=drcbe_x64_be_interface -DDISABLE_MIDI -DGIT_VERSION=\"" 64627c4"\" -D__LIBRETRO__  -pipe -O3 -fno-strict-aliasing  -Wall -Wcast-align -Wundef -Wformat-security -Wwrite-strings -Wno-sign-compare -Wno-conversion -I./src/osd/retro/libretro-common/include -I./src/mame -Iobj/retro64/mame/layout -I./src/emu -Iobj/retro64/emu -Iobj/

[2018-04-01 08:30] goliathe999 opened #110 "DIFF CHD ERROR"
Hello ,

i'm trying to get started killer instinct  but got this error :

"kinst.chd DIFF CHD ERROR: file not found
ERROR: required files are missing, the game cannot be run."

I read that's i need to empty the diff mame folder , but it's allready empty...

I used chdman 0.139 (2010) from row

MAME 2010 liberto : recalbox on raspi 3

[2018-04-06 11:48] Voljega commented on #20
This issue is still existing today.
For instance, all CPS1 and CPS2 games are displayed with wrong aspect ratios

[2018-04-11 11:43] dankcushions opened #114 "framerates / timings not being updated correctly?"
following discussion in https://github.com/libretro/mame2003-plus-libretro/issues/34#issuecomment-380417902 -  it appears that mame2010 is somehow bypassing the default audio_max_timing_skew of 0.05, which should mean that games that are 57Hz (eg robocop) are sped up to 60Hz, with the audio respampled to match, UNLESS you lower that setting.

I haven't observed this issue myself but I ended up loo

[2018-04-11 13:05] r-type commented on #114
look at how i deal it for 2009 .
https://github.com/r-type/mame2009-libretro/search?utf8=%E2%9C%93&q=retro_fps&type=
in void osd_init(running_machine* machine)
should detect the refteshrate:
[code]
and set  in retro_run treat this
[code]

[2018-04-11 13:27] r-type commented on #114
if game info said 57Hz and game run at 60Hz then mame2010 not  work as expected.
also if you change game with mame osd it will not change the refresh speed of the second game....

[2018-04-11 14:05] dankcushions commented on #114
@ZappaUtopia, as I've told you several times now, the default in retroarch is for audio_max_timing_skew to be set to 0.05. under this setting, a game of 57.4 fps will be sped up to 60fps (using a 60hz display). THAT is the expected behaviour.

[2018-04-11 15:03] ZappaUtopia commented on #114
But that is the wrong refresh rate for some games. Thats probably why Mame2010 bypasses it so it plays at the correct speed. Like @r-type said above.

[2018-04-11 15:13] dankcushions commented on #114
again, this is just how libretro/retroarch works (assuming default settings and a 60hz screen). if you want to stop what retroarch does by default, you simply change the settings. there's no need to bypass anything.

if any cores bypass it somehow, then they are simply not calling the libretro callbacks at the right times, hence this logged issue.

[2018-04-23 11:49] Voljega commented on #20
Removing integer scaling correct the issues on all the games I tested so far

[2018-04-23 14:04] dankcushions commented on #20
yes integer scaling will cause problems, but I don't use it. this issue was happening with it turned off (however it may have since been fixed!).

[2018-04-28 14:10] #39 closed

[2018-05-16 00:31] cecilmax opened #118 "golden axe 2 on wii U is very slow"
Hello, I just try golden axe 2 on Wii U (not vWii) and it run slowly.

It run fine on mame 2003 ...

[2018-06-29 16:07] randomuseralias opened #119 "Can't bind Player 2 Button 1 or Button 6 within retroarch menu"
Player 2 Button 1 and Button 6 will not bind to actions in game.

[2018-09-09 09:12] palmerj commented on #119
I can also confirm that 5th and 6th buttons are not bound. Also the player 2 controls can not be set in the MAME UI and you can not set the buttons in the MAME UI with a plugged in keyboard or with the 2 player gamepad. My setup uses 2 of the same gamepads which are working fine in MAME 2003 or finalburn backends. @markwkidd any ideas as you have recently applied a patch that added players 3 and 4

[2018-09-09 09:13] palmerj commented on #119
Here a log of the emulator running mk1: https://gist.github.com/palmerj/de1212f7c3bc1e0c8acbb2ca74b27459

[2018-09-25 09:01] MapleStoryPSN opened #120 "Dual joystick controls won't save correctly after exiting a game."
Games like Smash TV, Total Carnage, and Robotron require Left/Up, Left/Down, Left/Left, and Left/Right (same applies to Right/Up, etc.) to be set under Input (general) in the mame tab menu to be playable. The problem is that it will write the changes to the mame.ini file but they always revert to n/a when loading a game, forcing you to set controls up all over again.

This was tested on a Raspberr

[2018-11-10 13:47] purplesanz commented on #119
Exactly the same issues I'm having. Is there any workaround for this?

[2018-11-17 06:04] Metalwario64 commented on #119
I have this issue as well, and as described above, MAME 2003 (and the Plus version), as well as the FBA cores all have the controls working properly.

In my case, it shows these buttons as bound in the controls screen, but they don't actually work for player 2.

[2018-11-22 03:25] PKstarship opened #121 "Selecting "Inputs (this game)" crashes Retroarch on Android"
Pretty much the title, it also seems to affect the player controls options inside "Inputs (general)" too. Rather frustrating of course, as one game I would like to play requires me to map controls to make it work properly.

Playing on Mame 2010 0.139 70732f9 (the latest version available in core downloads at this time) and OS is Android 7.0, if it helps.

[2019-04-09 04:23] grant2258 commented on #119
first time using this core  the joystick is mapped to the keyboard for some reason? and only player1 controls are set in the controls menu in input general is this intentional or is it a wip?

[2019-04-09 05:33] markwkidd commented on #119
WIP. No one is working on it much though.

On Tue, Apr 9, 2019 at 12:23 AM grant2258 <notifications@github.com> wrote:

--
Mark W. Kidd
http://facebook.com/markwkidd
(606)536-0115

[2019-04-09 05:46] grant2258 commented on #119
Well looks like input on p2 isint working all i thought this core was mature tbh with being newer was just checkout out the video code for the rotation

[2019-04-09 20:43] grant2258 commented on #119
Well the input got completely broke somewhere down the line of someone broke it. Its fixed here and we have analog controls now as well not done the triggers is easy enought for someone to add them if they want them.

[2019-04-10 01:15] grant2258 commented on #119
this is how bad it was i can see why all the input issues where there

before
![before](https://user-images.githubusercontent.com/6128601/55844687-76bd7480-5b36-11e9-8291-1ac097bd99e1.png)

after
![after](https://user-images.githubusercontent.com/6128601/55844691-7f15af80-5b36-11e9-89d5-a696b1d2393d.png)

[2019-04-12 05:46] grant2258 commented on #119
the old alternative  fix to add the old way of mapping retropads to mames default keys and use the keyboard interface instead of adding it as a joystick joysticks device.  Players 2+ where added completely wrong.  I would recommend adding it as intended in the pull request but each to there own

https://github.com/libretro/mame2010-libretro/compare/master...grant2258:map_retropad_to_mame_default_k

[2019-05-31 07:54] piratdavid commented on #40
Hi! Sorry, I'm a bit late to the party. Did recompiling mame2010 solve this problem?

[2019-06-03 00:38] purplesanz commented on #119
Were you able to get six buttons (three punches + three kicks, for example) working on the second gamepad?

[2019-06-03 11:08] arnoldsecret opened #126 "[Request] Save state support"
This could add fast forwarding, which is afaik the only MAME core that doesn't support it.

[2019-06-30 11:54] fastpop72 opened #128 "Core error at launch - undefined symbol: driver_powerins"
I use the mame2010 core on my bartop, i compiled the source yesterday and today, compile works ok but core doesn't start giving "driver_powerins" error.

I use a PC with debian stretch (x64) and retropie.

I noticed a commit 4 days ago, something has changed on the x64 compiling script?

Thanks.

[2019-07-06 22:19] c0d3h4x0r commented on #128
I'm running into the same thing on my Raspberry Pi 3B+ w/ RetroPie after recompiling this core from source.

[2019-07-06 22:31] c0d3h4x0r commented on #128
It had to be something in this commit: https://github.com/libretro/mame2010-libretro/commit/70c98cffaa793b8b3e75639dbfc31f1cd496bab0

The prebuilt binary of this core for RetroPie -- which doesn't exhibit this issue -- is stamped with commit c87309d, which was the one just before that one.

[2019-07-07 16:29] c0d3h4x0r opened #129 "'illegal instruction' error when trying to launch Golden Axe: The Duel (gaxeduel.zip)"
This repros on Raspberry Pi 3B+ w/ RetroPie using a build of this core based on commit c87309d.

[2019-07-07 16:30] c0d3h4x0r opened #130 "'illegal instruction' error when trying to launch Gradius 4 (gradius4.zip)"
This repros on Raspberry Pi 3B+ w/ RetroPie using a build of this core based on commit c87309d.

[2019-07-07 18:31] c0d3h4x0r commented on #128
I also recompiled this core from commit c87309d and it no longer exhibits the issue -- so this was definitely introduced by 70c98cf.

[2019-07-07 19:37] shantigilbert commented on #128
I have the same problem I compiled all the recent versions and the issue is introduced on this commit f44d379c9a22a4cf81a9e4dbfbe43c341cdac6b8

[2019-07-07 20:00] shantigilbert commented on #128
there are a few typos the Makefile.common this patch fixes them

[code]

[2019-07-07 20:09] c0d3h4x0r commented on #128
Awesome, thanks!  Have you already prepared a pull request?  If not, I'll locally recreate your changes, verify them, and create one.

[2019-07-07 20:26] c0d3h4x0r commented on #128
I've commited the change to my fork here: https://github.com/c0d3h4x0r/mame2010-libretro/commit/f9914e380814bf63e284d220731bdf9493b94c97

I've kicked off a local build to verify that it resolves the issue before creating the pull request.

[2019-07-07 21:39] c0d3h4x0r commented on #128
Verified, this cures it.  Creating pull request.

[2019-07-07 22:03] c0d3h4x0r commented on #130
Here's a stack trace:

`Thread 1 "retroarch" received signal SIGILL, Illegal instruction.
0x67fb5198 in ?? ()
(gdb) bt
#0  0x67fb5198 in ?? ()
#1  0x6c96c6c4 in drcbex86_reset(_drcbe_state*) () from /opt/retropie/libretrocores/lr-mame2010/mame2010_libretro.so
#2  0x6c967c18 in drcuml_reset(_drcuml_state*) () from /opt/retropie/libretrocores/lr-mame2010/mame2010_libretro.so
#3  0x6cb88c2c in code_f

[2019-07-07 22:09] c0d3h4x0r commented on #130
I'm working on getting a stack trace w/ source code info.

[2019-07-08 05:02] c0d3h4x0r commented on #130
Stack trace w/ source info:
[code]

[2019-07-08 05:06] c0d3h4x0r commented on #130
And here's the code at frame #1 (last line is line 734):
[code]

[2019-07-08 05:23] c0d3h4x0r commented on #130
Seems to me that something must be wrong with at least one of those `emit_` functions (I assume they are for performing CPU opcode translation between emulated CPU and host CPU), b/c that section of code is obviously constructing an invalid native instruction.

[2019-07-09 04:02] c0d3h4x0r commented on #130
Actually, this code looks to specific to Intel x86 architecture, which my hardware is not.  I'm running on a Raspberry Pi 3B+ (ARM v8), so it's no surprise that x86 instructions would generate an "illegal instruction" exception.  This suggests potentially a build problem someplace, wherein the x86 source code is getting erroneously built into the armv8 build.

[2019-07-09 04:04] c0d3h4x0r commented on #130
Or possibly a missing/bad macro define somewhere.

[2019-07-09 04:15] c0d3h4x0r commented on #130
And this comment from Makefile.common seems to support my suspicions... it sounds like dynamic recompilation is not supported on non-x86 platforms yet
[code]

[2019-07-09 04:18] c0d3h4x0r commented on #130
And in `Makefile`, it looks like we just need to uncomment one line to define FORCE_DRC_C_BACKEND to hopefully get things working on armv8...
[code]

[2019-07-09 04:22] c0d3h4x0r commented on #130
Actually, there's already a Raspberry Pi-specific section in `Makefile`, so we probably just need to define FORCE_DRC_C_BACKEND inside that existing case...

[2019-07-10 08:00] c0d3h4x0r commented on #130
Additionally, the platform is only being detected as 'unix' on my Raspberry Pi, so the added define isn't taking effect.  So I'm also adding autodetection of the "retropie" distribution for now, since it will always be for the Raspberry Pi.

[2019-07-10 09:08] c0d3h4x0r commented on #130
Yep, that finally did the trick -- the "illegal instruction" crash is now resolved!  I'll prepare a pull request.

[2019-07-10 09:16] c0d3h4x0r commented on #129
I have a working fix -- see https://github.com/libretro/mame2010-libretro/pull/132

[2019-08-10 11:35] Riddler1 opened #133 "Space Invaders Deluxe Sound is distorted"
Game rom: invaddlx
1.7.1 - Mame 2010 0.139 c66718f

The sound levels of the descrete emulation cause the (aliens moving) sound effects to "crackle" and "pop" even at low volume.

Lowering the sample rate, sliders controls and even external speaker settings do not improve it.

This discrete sound emulation was added by Derek Renaud in Mame 0115b to replace the standard sample sounds used in previou

[2019-08-10 12:07] Riddler1 commented on #133
The iisueseems to have bee fixed in lr-mame2015.

Can this update/fix be backported?
Here is a video link to an example of the issue....

https://youtu.be/PmKXLHeWNcg

[2019-09-03 12:38] jet082 opened #135 "ARM64/iOS does not compile"
I got part of the way there by doing the following:

src/emu/eminline.h

``result = compare_exchange32((INT32 volatile *)ptr, (INT32)compare, (INT32)exchange);`` to ``result = compare_exchange32((INT32 volatile *)ptr, (intptr_t)compare, (intptr_t)exchange);``

src/emu/state.h

``#include <tr1/type_traits>`` to ``#include <type_traits>`` and ``#define DEF_NAMESPACE std::tr1`` to ``#define DEF_NAMES

[2019-09-06 18:42] jet082 commented on #135
Okay, there's a way to compile this. Ignore the op.

``src/emu/state.h`` - change ``#include <tr1/type_traits>`` to ``#include <type_traits>`` and ``#define DEF_NAMESPACE std::tr1`` to ``#define DEF_NAMESPACE std`` beneath the IOS check

Change the ``Makefile`` as follows:

1) Change the armv7 to arm64 under the iOS check
2) Change ``PTR64 = 0`` to ``PTR64 = 1``

Run ``libretro-build-ios-arm64.sh

[2019-09-27 11:04] jet082 commented on #135
This is fixed.

[2019-09-27 11:04] #135 closed

[2019-11-10 11:57] guoyunhe opened #137 "License"
I am packaging MAME cores for openSUSE Linux. You may know that most Linux distributions have their license guidelines. The package need to correctly indicate its license.

I read this blog post: https://www.mamedev.org/?p=422

So **MAME** core is GPL/BSD licensed. :heavy_check_mark:

**MAME 2000** and **MAME 2010** don't have a license in the repo. :question:

**MAME 2003** and **MAME 2003+** hav

[2019-11-11 00:37] hizzlekizzle commented on #137
Every MAME prior to circa March 2016 uses the custom MAME license, which is noncommercial, "nonfree"/source-available.

[2019-11-11 13:26] guoyunhe commented on #137
@hizzlekizzle thanks for information!

[2019-11-11 13:26] #137 closed

[2019-12-03 07:33] zanac opened #138 "Support with multi mouse index don't work"
When you use input driver UDEV with Linux, you should use two mouse for games like Zero Point (for simulate a gun)...
With UDEV driver you can select the index of the mouse device, and this option work well with mame2003 and this kind of games, but with mame2010 don't work.

[2020-03-07 21:22] #129 closed

[2020-03-07 21:24] #130 closed

[2020-03-29 21:06] abuchanan920 commented on #121
Same behavior on Raspberry Pi 4.

I’m seeing an “Unhandled fault: alignment exception (0xa21) at 0x<varies from run to run>”

[2020-04-28 23:24] thanguya commented on #119
Hey mans, I found a solution for myself but it is quite the convoluted work around. However, it allows me to have Player 1 on my Xbox controller with all 6 buttons. And Player 2 on my arcade stick with all 6 buttons. It requires that you have Antimicro or any Joypad to Keyboard program of your choice. Antimicro allows me to remap controller buttons to a keyboard key and I set it up so when Mame201

[2020-05-10 17:34] pjft commented on #119
@markwkidd apologies for bothering here.

I'm happy to _try_ and give it a shot here, though the MAME codebase is a bit daunting.

I have looked through past PRs, namely yours about adding 3 & 4 player support, and your comment in #21 about this being the location for it to be fixed:

https://github.com/libretro/mame2010-libretro/blob/master/src/emu/inpttype.h#L139-L140

But it is still very alien

[2020-05-25 02:01] #121 closed

[2020-06-14 03:38] yepyepyep4711 opened #140 "any chance of backporting the alternate renderer from current lr-mame?"
it would make mame menus and dialogues much better readable. Also, some games use mame-generated overlays to show status of peripherals, like the clutch in Outrun, so they would benefit.

[2020-06-26 19:23] rodc87 opened #141 "Support Running lr-mame2010 KI Game"
Hello everyone! This is my first time posting here.

I am trying to run KIller Instinct game in lr-mame2010 in my RPI4 and I am sure my rom and romset should work on this emulator as I have tried it in other devices(windows pc) under the same version of the emulator lr-mame2010 and this works totally fine! Moreover this rom works perfectly fine in lr-mame2016 but the peformance is not good at all,

[2020-06-30 03:28] mpalpha commented on #141
With new faster ARM cpus being used in the raspberry pi 4 and soon macs it may be time for someone port/optimizer the mips3 dynarec.
https://www.macrumors.com/guide/apple-silicon/

[2020-09-19 23:45] millansoft opened #143 "7z format"
Hello,

I read in the the Retropie Wiki that this supports .7z format, I´m using Raspberry Pi 3 and Retropie 4.6.
With zip rom files it works fine, but with 7z format it just doesnt load anything.

Could someone check this and confirm if its working or not?

Thanks

[2020-09-26 11:55] MarcoBorrini99 commented on #143
Can you post the reference you're talking about?

[2020-09-26 19:52] millansoft commented on #143
Thanks for answer, there is a thread about this in Retropie Forum: https://retropie.org.uk/forum/topic/27920/lr-mame-2010-and-7z-format/20
Including the moderator from there we reached the conclusion that there is somekind of problem about 7z file support and this core.

[2020-11-23 09:01] odarknighto opened #144 "Any chance for nintendo switch build"
It had any chance to build on switch?

[2021-02-02 18:26] SupervisedThinking opened #146 "Versioning scheme"
Well could you start to use versions like `Major.Minor.Patch` for your releases & update tags/release somewhat regularly?

[2021-02-02 19:19] SupervisedThinking commented on #146
Closed since proper versioning is considered as spam & trolling.

[2021-02-02 19:19] #146 closed

[2021-04-11 23:52] mchaos opened #149 "Use more buttons"
So the way that this mame allows you to map the buttons is limiting. It will only map the first 14 buttons and that's it. So if you have a joystick setup with more than that many buttons, well let me explain my issue.

I am using this mame version to play street fighter games, like vs. marvel etc, which are 0.139 roms. I use retropie. So I have other emulators. when you map your joystick, you do i

[2021-08-23 05:18] Virus-Hunter commented on #38
I hate to necro an old issue, but after trying a variety of different methods I'm coming to the same conclusion as markwkidd. I really want cheats in mame2010! If anyone wants to start a bounty or point me towards where to open one, I'll gladly pitch in $100 towards gettin it done!

[2021-08-23 09:43] tecnocat commented on #38
Did you try https://github.com/libretro/mame2010-libretro/issues/38#issuecomment-356602859???

[2021-08-23 14:39] Virus-Hunter commented on #38
Yes, I have.

[2021-08-23 17:38] markwkidd commented on #38
One thing that has shifted in my perspective over the years is that I think the MAME 2010 core has less relevance. Have you tried running the games you want with MAME 2016?

Many games have been added to MAME 2003+, and MAME 2016 is more and more viable for more devices. I have heard rumors that there is a developer working to further improve the performance of MAME 2016 as well, if that works out

[2021-11-15 09:51] itiloo opened #150 "Psvita mame2010"
Hi,
Is this version available por ps vita?.
Than you so much.

[2021-11-15 15:58] hizzlekizzle commented on #150
No, I believe Vita struggles to run mame2003, which is significantly faster than 2010.

[2021-11-15 16:03] itiloo commented on #150
I have mame2003 plus in psvita with retroarch and its OK for me.
Could the 2010 version be compiled to at least try whoever wants to test it?
Thank you so much

[2021-12-12 18:17] StormedBubbles opened #151 "[Feature Request] RetroArch lightgun support"
Hello,

I am a Raspberry Pi user with Sinden lightguns trying to seek out as many arcade gun games as possible. As with the 2015 and 2016 iterations of libretro MAME, 2010 finds a nice balance of a large ROM set and performance in the Pi.

For example, this 2010 iteration of MAME appears to be the only core available on the Pi that plays Point Blank 2 at full speed, and it is one of only two (2015

[2021-12-17 08:41] capitaineflam25 commented on #126
Save state support would be so cool.

This core is my favortite, but sometimes i have to prefer Mame2003-plus or Mame2015 because of the support of save state

[2022-03-11 10:29] naxil opened #153 "android64 mame2010 daytona93 strange e pause emulation on log"
hello https://pastebin.com/e83GEfQ1
as you can read in the log the emulation pauses, but the game starts. after 1second everything stops

[2022-06-15 05:37] StormedBubbles commented on #151
Lightgun support added with above commit.

[2022-06-15 05:37] #151 closed

[2022-07-02 14:17] AngelofMe opened #155 "fix these please"
1.
MAME UI auto-select BUG
2.
I don't know how to use turbo button
so i think it's useless
3.
official SNK - Neo Geo controller ABCD position
![1010754-1010754-1010754-1-0](https://user-images.githubusercontent.com/26894447/177004137-deb2f270-bc79-4be1-b153-53d682554548.jpg)
RetroArch-Neo Geo
A-B
B-A
X-D
Y-C
4.
SNK - Neo Geo AES/MVS BIOS options
MAME 0.139 can. emulate AES but i can't find any abo

[2022-07-06 02:03] #155 closed

[2022-08-23 20:10] Riddler1 commented on #133
fix found

[2022-08-23 20:10] #133 closed